<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Cookies</title>
    <link rel="stylesheet" href="../static/cookies.css">
</head>
<body>
    <div class="cookies-banner">
        <h1>Cookies</h1>
        <p>
            En nuestra página utilizamos cookies para garantizar el correcto funcionamiento, mejorar
            la experiencia del usuario y analizar el uso de nuestros servicios.
        </p>
        <div>
            <a href="/accept_cookies" class="button accept">Aceptar Cookies</a>
            <a href="/reject_cookies" class="button reject">Rechazar Cookies</a>
        </div>
        <p><a href="#">Política de Privacidad</a></p>
    </div>
</body>
</html>
